<form #editSpeaker="ngForm">
  <div class="form-control d-flex flex-column w-25 m-auto">
    <!-- start userName -->
    <label>User Name</label>
    <input
      type="text"
      name="userName"
      [(ngModel)]="speaker.userName"
      #userName="ngModel"
      minlength="3"
      required
    />
    <p *ngIf="userName.errors?.['minlength'] && userName.touched">
      Minimum Characters is three
    </p>
    <p *ngIf="userName.errors?.['required']  && userName.touched">
      this field can't be empty
    </p>

    <!-- start password -->
    <label>Password</label>
    <input
      name="password"
      type="password"
      [(ngModel)]="speaker.password"
      #password="ngModel"
      minlength="5"
      required
    />
    <p *ngIf="password.errors?.['minlength'] && password.touched">
      alphaNumeric Minimum Characters is five
    </p>
    <p *ngIf="password.errors?.['required']  && password.touched">
      this field can't be empty
    </p>

    <!-- start email -->
    <label>Email</label>
    <input
      name="email"
      type="email"
      [(ngModel)]="speaker.email"
      #email="ngModel"
      disabled
    />

    <!-- start address -->
    <label>Address</label>
    <input
      type="text"
      name="address"
      [(ngModel)]="speaker.address"
      #address="ngModel"
      required
    />
    <p *ngIf="address.errors?.['required']  && address.touched">
      this field can't be empty
    </p>

    <!-- start role -->
    <label>Role</label>
    <select name="role" [(ngModel)]="speaker.role" #role="ngModel" required>
      <!-- <option>admin</option> -->
      <option>speaker</option>
    </select>
    <p *ngIf="role.errors?.['required']  && role.touched">
      this field can't be empty
    </p>

    <label>Image</label>
    <input type="file" (change)="onFileChange($event)" />
  </div>
  <button
    class="btn btn-success d-flex m-auto"
    (click)="saveEdit()"
    [disabled]="editSpeaker.invalid"
  >
    Save Edit
  </button>
</form>
