<!-- features-->
<div id="parallax-world-of-ugg">
  <section>
    <div class="title">
      <h3 class="m-5">Let's Explore</h3>
      <h1>Angular project</h1>
    </div>
  </section>

  <section>
    <div class="parallax-one">
      <h2>Header one</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character sc">1</span>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
        assumenda id iure dolores obcaecati odit, beatae quos atque nulla
        laboriosam maiores reprehenderit officiis aperiam adipisci possimus
        harum nam rerum in.
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eos
        officiis illo error libero accusamus autem, corporis deleniti quae iste
        sapiente reprehenderit voluptate facere cum debitis vel voluptatum
        repellat eveniet.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>Header two</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character ny">2</span>Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Enim corporis cumque odio impedit
        accusantium nesciunt labore, unde sequi ea? Non et blanditiis iure ea
        adipisci odit itaque consequuntur perferendis dignissimos!
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto
        illum voluptatibus exercitationem, recusandae ducimus fuga cupiditate
        assumenda rerum optio facere similique sunt explicabo? Laudantium
        consequatur praesentium autem deserunt nesciunt repellat.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-three">
      <h2>Header three</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character atw">3</span>Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Delectus commodi, vero unde, corporis
        molestias earum, facilis est repellat voluptates illum asperiores
        officiis sit ex deleniti doloribus neque placeat voluptatum molestiae.
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quo
        architecto ut ab quae, fugiat itaque laboriosam nesciunt assumenda nobis
        voluptates? Delectus fuga quia tempora ea, dignissimos amet molestiae
        quo!
      </p>
    </div>
  </section>
</div>
