<table class="table table-dark">
  <thead>
    <tr>
      <td>Id</td>
      <td>User Name</td>
      <td>Email</td>
      <td>Image</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allStudentList">
      <td>{{ item._id }}</td>
      <td>{{ item.userName }}</td>
      <td>{{ item.email }}</td>
      <td>
        <img
          style="width: 70px; height: 70px; border-radius: 50%"
          src="http://localhost:8080/images/{{ item.image }}"
        />
      </td>
    </tr>
  </tbody>
</table>
