<section name="register" class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">User Name</label>
                    <input
                      [(ngModel)]="speakerUser.userName"
                      type="text"
                      placeholder="type your username"
                      id="userName"
                      name="userName"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="lastName">Password</label>
                    <input
                      [(ngModel)]="speakerUser.password"
                      type="password"
                      placeholder="type your password"
                      name="password"
                      id="password"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label"
                      >Email Address</label
                    >
                    <input
                      [(ngModel)]="speakerUser.email"
                      type="text"
                      placeholder="type a valid email address"
                      name="email"
                      class="form-control form-control-lg"
                      id="birthdayDate"
                    />
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Address</label>
                    <input
                      [(ngModel)]="speakerUser.address"
                      type="text"
                      placeholder="type name of your city"
                      name="address"
                      id="emailAddress"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <label class="form-label select-label">Choose Role</label
                  ><br />
                  <select
                    class="select form-control-lg"
                    [(ngModel)]="speakerUser.check"
                    name="check"
                  >
                    <option value="student">student</option>
                    <option value="speaker">speaker</option>
                  </select>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="phoneNumber">Image</label>
                    <input
                      (change)="onFileChange($event)"
                      type="file"
                      name="image"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                    />
                  </div>
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input
                  (click)="register()"
                  class="btn btn-primary btn-lg"
                  type="submit"
                  value="Submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
